* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
    text-align: center;
    background-color: #94618E;
}

header h1 {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F4DECB;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #F4DECB;
}

footer p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #94618E;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

footer img {
    height: 20px;
    position: absolute;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pad {
    display: table;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    height: 100px;
}

.buttons  {
    display: table-cell;
    vertical-align: middle;
}

.buttons a {
    color: #49274A;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px !important;
    border: 3px solid #49274A;
    border-radius: 5px;
    font-size: 20px;
    transition: background 0.5s ease;
}

.buttons a:hover {
    background-color: rgba(73, 39, 74, 0.1);
    transition: background 0.5s ease;
}