/* General */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Header */

header {
    width: 100%;
    text-align: center;
    background-color: #94618E;
}

header h1 {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F4DECB;
}

/* Footer */

footer {
    width: 100%;
    text-align: center;
    background-color: #F4DECB;
}

footer p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #94618E;
    padding: 10px;
}

footer img {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    padding: 10px;
}

/* Mains */

.left {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 50%;
    text-align: center;
}

.right {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    width: 50%;
    text-align: center;
}

.left p {
    color: #94618E;
    font-size: 20px;
}

.right p {
    color: #94618E;
    font-size: 20px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    color: #49274A;
}

@media (max-width: 1100px) {
    .left p {
        font-size: 15px;
    }
    .right p {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .left p {
        font-size: 13px;
    }
    .right p {
        font-size: 13px;
    }
}

/* Join Class */

#joinclass {
    text-decoration: none;
    border: 3px solid #49274A;
    border-radius: 5px;
    color: #49274A;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: transparent;
    transition: background 0.5s ease;
}

#joinclass:hover {
    background-color: rgba(73, 39, 74, 0.1);
    transition: background 0.5s ease;
}

#joinclass-go {
    padding: 5px; margin: 0;
    border-radius: 5px;
    background-color: #49274A;
    color: white;
    cursor: pointer;
}

/* New Class */

#newclass {
    text-decoration: none;
    border: 3px solid #49274A;
    border-radius: 5px;
    color: #49274A;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: transparent;
    transition: background 0.5s ease;
}

#newclass:hover {
    background-color: rgba(73, 39, 74, 0.1);
    transition: background 0.5s ease;
}